* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;



}
:root {
  color: #142b6f;
  font-family: LL Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}
 
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: var(--clr-primary-1);
}
li {
  list-style: none;
  cursor: pointer;
}

/* Top navbar  */

.Blueline {
  width: 100%;
  height: 0.1rem;
  z-index: 1000;
  border: 2px solid rgb(49, 49, 97);
}
.Topnav {
  padding: 1rem 5rem 1rem 5rem;
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0;
  background: white;
}
.Topnav nav ul {
  display: flex;
  position: relative;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-weight: 700;
}
.Topnav nav ul li:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
}
.Topnav ul div {
  width: auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
@media all and (max-width: 750px) {
  .Topnav ul div a {
    display: none;
  }
  .Topnav {
    padding: 1rem;
  }
}

/* herocontent  */
.Herocontent {

  height: 540px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
  margin-left: 2rem;
  margin-right: 2rem;
  background: yellow;
}
.Heroheader h1 {
  font-size: 3.5em;
}
.Herocontent button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  width: 173px;
  border-radius: 20px;
  padding: 1rem 3rem 1rem 3rem;
  background: #142b6f;
}
.Herocontent button a {
  color: white;
  font-weight: 600;
}
.Herocontent button:hover {
  background: white;
}
.Herocontent button:hover a {
  color: #142b6f;
}
.Dash {
  border: 2px solid #142b6f;
  width: 40px;
}

@media all and (max-width: 750px) {
  .Herocontent {
    font-size: 10px;
    padding: 0;
    margin: 0;
    height: 600px;
  }
  .Herocontent button {
    padding: 1rem 1.5rem 1rem 1.5rem;
    width: 150px;
  }
  .Herocontent button:hover {
    background: #142b6f;
  }
  .Herocontent button:hover a {
    color: white;
  }
}

/* Pcards  */
.Maincard{

margin-left: 1rem;
}
 .cards {
  width: auto;
  height:auto;
margin-top: 4rem;
display: flex;
align-items: center;
justify-content:center;
gap: 1rem;
overflow-x: auto;
scroll-behavior: smooth;
scrollbar-width: 2px;
} 

.cards::-webkit-scrollbar {
  width: 2px;
  background-color: rgb(235, 235, 14);
}


.Pcard{
  width: 240px;
  min-width:200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



}
.cards img {
  width:100%;
  min-width:100%;
  object-fit: cover;
  cursor: pointer;
 
}
.cards p {
  font-family: "LL Circular", sans-serif;
  color: rgb(20, 43, 111);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 300;
  letter-spacing: 0px;
  text-align: center;
  margin: 0px;
  padding: 6px 0px;
  cursor: pointer;
}

@media all and (max-width: 750px){
.Pcards{
  padding: 0 0 0 1.5rem;
}
.cards{
  cursor: grab;
  justify-content: space-between;
}
.cards p span{
  display: none;
}
}


/* IntroContainer  */
.Introcontainer {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: auto;
  width: 100%;
  padding-bottom: 2rem;
  padding: 0 2rem 0 2rem;
}
.Introcards {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.Introcards div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 134px;
}
.Introcards p {
  font-family: "LL Circular", sans-serif;
  color: rgb(20, 43, 111);
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 300;
  text-align: center;
  flex: 1 1 100%;
}
@media all and (max-width: 750px) {
  .Introcontainer {
    align-items: flex-start;
  }
  .Introcards {
    flex-direction: column;
  }
  .Introcards div {
    margin: 0px 0px 1rem;
    width: 100%;
    flex-direction: row;
    gap: 0.5rem;
  }
  .Introcards div p {
    text-align: left;
    flex: 1 1 auto;
    align-self: center;
  }
  .Introcards div svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}

/* Image And Information Area  */

.Imageninfoarea {
  height: auto;
  width: 100%;
  padding: 1rem 2rem 0 2rem;
  margin-top: 5rem;
  display: grid;
  grid-gap: 4.5rem;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.imgdiv img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
}
.Imageninfoarea div {
  height: auto;
}
.infodiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infodiv h2 {
  font-family: "LL Circular", sans-serif;
  color: rgb(20, 43, 111);
  font-size: 2.5em;
  line-height: 3.375rem;
  font-weight: 500;
  text-align: left;
  letter-spacing: -1.4px;
  margin-bottom: 24px;
}
.infodiv p {
  font-family: Dutch801, serif;
  font-size: 1.125em;
  line-height: 1.75rem;
  color: rgb(20, 43, 111);
  margin: 0px;
}
.infodiv a {
  width: auto;
  font-size: 1.125em;
  line-height: 1.75rem;
  text-decoration: underline;
  transition: opacity 200ms ease-in-out 0s;
  padding-top: 1rem;
}
.infodiv a:hover {
  opacity: 0.56;
}

@media all and (max-width: 750px) {
  .imgdiv1 {
    grid-area: imgdiv1;
  }
  .infodiv1 {
    grid-area: infodiv1;
  }
  .imgdiv2 {
    grid-area: imgdiv2;
  }
  .infodiv2 {
    grid-area: infodiv2;
  }

  .Imageninfoarea {
    overflow: hidden;
    font-size: 12px;
    grid-template-rows: 25% 20% 25% 20%;
    grid-template-columns: auto;
    grid-template-areas:
      "imgdiv1"
      "infodiv1"
      "imgdiv2"
      "infodiv2";
    grid-gap: 2rem;
  }

  .infodiv h2 {
    margin-bottom: 10px;
    line-height: 3rem;
  }
  .infodiv a {
    padding-top: 0.3rem;
  }
  .imgdiv {
    padding: 0rem 2rem 0 2rem;
  }
  .imgdiv img {
    height: 20rem;
  }
  .infodiv a:hover {
    opacity: 1;
  }
}

/* Featured product  */
.Outerfcard {
  margin-top: 4rem;
  font-size: 16px;
padding: 0 2rem 0 2rem;
width: 100%;
}
.Innerfcard {
  width:100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.Innermostfcard {
  width: 100%;
  height: auto;
  margin: 10px 10px 10px 2rem;
  text-align: center;
}
.Innermostfcard div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Innermostfcard img {
  width: 140px;
    min-width: 150px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 7px;
  margin-bottom: 1rem;
}
.Featureproduct {
  height: auto;
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 6.5rem;
  padding: 0 2rem 0 2rem;
  font-size: 16px;
}
.Featurehead {
  padding: 0 4rem 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.Featurehead h2 {
  font-size: 2.5em;
  line-height: 3.375rem;
  letter-spacing: -1.17px;
}
.Featurehead a {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.625em;
  border-bottom: 2px solid rgb(20, 43, 111);
  text-decoration: none;
  cursor: pointer;
  transition: opacity 200ms ease-in-out 0s;
}
.Featurehead a:hover {
  opacity: 0.58;
}
.Firsttag {
  font-family: Dutch801, serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 2px;
}
.Secondtag {
  font-weight: 500;
  letter-spacing: 0px;
  font-size: 1rem;
  line-height: 1.375rem;
  white-space: normal;
}
.Thirdtag {
  text-align: left;
  opacity: 0.56;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 8px;
  margin-bottom: 14px;
  white-space: normal;
}
@media all and (max-width: 750px) {
  .Outerfcard {
    font-size: 11px;
  }
  .Innerfcard {
    cursor: grab;
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
  }
  .Innerfcard::-webkit-scrollbar {
    background-color: rgb(235, 235, 14);
  }
  .Featurehead {
    padding: 0 1rem 0 1rem;
  }
  .Innermostfcard img {
    width: 140px;
    min-width: 150px;
  }
}
@media all and (min-width: 1366px){
  .Innermostfcard img {
    width: 300px;
    min-width: 300px;
  }
} 